.job-board-container {
  padding: 10px;
}

.job-card {
  background-color: rgb(237, 230, 230);
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 8px #888888;
}
.logo {
  height: 50px;
  width: 80px !important;
  margin-bottom: 15px;
}
.apply-button {
  padding: 8px;
}
